<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css"> 
        <link rel="icon" href="/img/weather.png">
        <script src="js/app.js"></script> 
    </head>

    <body>
        <div class="mai-content">
            {{>header}}
            <p>This site wa screated by Sanjiv giri. It uses data from mapbox.com and darksy.net!</p>
            <img class="portrait" src="/img/71037013_2626847614033443_565745805332316160_n.jpg" alt="">
        </div>
        
        {{>footer}}
    </body>
</html>