<!DOCTYPE html>
<html>
    <head>
        <TITLe>Weather</TITLe>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>
            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p class="message-1" id="message-1"></p>
            <p class="message-2" id="message-2"></p>
        </div>
        
        
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>